parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    # The level 9 is the highest level
    level: 8
    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            path: tests/
    excludePaths:
        - ./routes/console.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
